## This file is part of Whonix.
## Copyright (C) 2012 - 2014 Patrick Schleizer <adrelanos@riseup.net>
## See the file COPYING for copying conditions.

Source: freepto-graphics
Section: x11
Priority: optional
Maintainer: boyska <piuttosto@logorroici.org>
Depends: ${misc:Depends}
Build-Depends: debhelper (>= 8), faketime
Vcs-Git: https://github.com/avana-bbs/freepto-graphics
Standards-Version: 3.9.4

Package: freepto-graphics
Architecture: all
Description: Freepto artwork
 Wallpaper and more!
